In [2]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib.pyplot import plot as plt
%matplotlib inline

In [3]:
# Import dataset 

data = pd.read_csv('cene_10_08.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1756 entries, 0 to 1755
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1756 non-null   object
 1   IDEA          1756 non-null   object
 2   MAXI          1756 non-null   object
 3   UNIVEREXPORT  1756 non-null   object
 4   TEMPO         1756 non-null   object
 5   DIS           1756 non-null   object
 6   RODA          1756 non-null   object
 7   LIDL          1756 non-null   object
dtypes: object(8)
memory usage: 109.9+ KB

In [7]:
data

,Unnamed: 0,IDEA,MAXI,UNIVEREXPORT,TEMPO,DIS,RODA,LIDL
0,Brašno DANUBIUS heljdin mešani hleb 1kg,"294,99","294,99","224,99","274,99",-,"274,99",-
1,Brašno DANUBIUS oštro T-400 1kg,"97,99",-,"94,99","92,99","81,99","92,99",-
2,Brašno DANUBIUS T-850 900g,"76,99","94,99","69,99","84,99","84,99","76,99",-
3,Brašno DANUBIUS za pizzu 5kg,"132,99",-,"109,99","133,99","89,99","132,99",-
4,Brašno FIDELINKA meko T-400 1kg,-,-,-,-,-,"77,99",-
...,...,...,...,...,...,...,...,...
1751,Zamensko mleko NAN Comfortis 2 800g,-,-,-,"2.119,00",-,"2.159,99","1.995,00"
1752,Zamensko mleko NAN H.A. 2 400g,-,-,-,-,-,-,"1.179,00"
1753,Zamensko mleko NAN Optipro 2 6m 800g,"2.299,99","2.009,00",-,"1.996,99","2.138,99","2.179,99","2.119,00"
1754,Zamensko mleko NOVALAC 1 400g,-,"929,99",-,"919,99",-,-,"779,00"
1755,Zamensko mleko NOVALAC 3 400g,-,"929,99",-,"919,99",-,-,"899,00"